body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
    color: white;
}

.bartender_header_left{
    flex: 50%;
    text-align: left;
    padding-left: 4%;
    padding-top: 2%;
    padding-right: 2%;
}

.bartender_header{
    flex: 50%;
    text-align: right;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 4%;
}

/*head icon css for login and landing screen */
.bartender_header_icon_single{
    width: 3.3%;
    height: auto;
    padding: 10px;
}

/*head icon css for other screen */
.bartender_header_icon{
    width: 7%;
    height: auto;
    padding: 10px;
}

.center {
  margin: 0 auto;
  width: 50%; 
  padding: 10px;
  text-align: center 
}

.row {
    display:flex;
}

.column{
    flex: 50%;
}

hr{
   border-top: 2px solid white;
}



/*Basic Button Style*/
.bartender_login_btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin: 40px;
  padding: 1em 2.8em;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
    box-shadow: 1px 2px #888888;
 margin-left: 33%;
    
}

.bartender_login_btn:hover{
    color: grey;
    outline: 0;
    border:2px solid white;
    transition: box-shadow 500ms ease-in-out, color 300ms ease-in-out;
    box-shadow: 0 0 40px 40px white inset;
}

/*bartender_login*/

.bartender_body{
    /*height: 100%;*/
    background-image: url("image/bartender_bg.png");
    background-size: cover;
}

.bartender_login_dutchman_logo{
    
    /*
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    */
    
    width:50%; /* you can use % */
    height: auto;
    margin-bottom: 0;
}

#bartender_login_screen_title{
    font-size: 40px;
    font-weight: 10;
    text-align: center;
    line-height: normal;
    color: #FFFFFF;
    margin-bottom: 10%;
}


#bartender_login_error{
    color: lightyellow;
}

input.bartender_login_input { 
    border-style: none; background: #484848; outline: none; 
    width: 350px;
    height: 48px;
    opacity: 0.65;
    padding-left: 15px;
    font-size: 22px;
    margin: 10px;
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  
    color: white;
  /* opacity: 1; Firefox */
}

/*bartender_home*/

.bartender_home_row {
  display:flex;
    margin-top: 5%;
    width: 100%;
    border: none;
}

.bartender_home_leftcolumn {
  flex: 50%;
    margin-left: 10%;
    margin-right: 5%;
    border: none;
   
}

.bartender_home_rightcolumn {
  flex: 50%;
    margin-left: 5%;
    margin-right: 10%;
    border: none;

   
}
.bartender_home_image_btn{
    
    width:100%; /* you can use % */
    height: auto;
    box-shadow: 5px 10px 18px #01010111;
    border: none;

}

/*bartender_stock_landing*/

.screen_title_box{
    position: absolute;
    width: 287px;
    height: 120px;
    left: 181px;
    top: 0px;
    border: none;
    
    background: #D8AD6C;
}

.screen_title_txt{

    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    text-align: center;

    color: #3C3C3C;
}


.bartender_column_30{
    
    flex: 30%;
    height: 100%;
}

.bartender_column_70{
    
    flex: 70%;
    height: 100%;
}

.bartender_column_50{
    
    flex: 50%;
    height: 100%;
}


/* not responsive */
.bartender_left_control_content{

    position: absolute;
    padding: 2%;
    margin: 5% 2.5% 0% 5%;
    width: 17%;
    height: 75%;
    
    border: none;

    background: #484848;
    opacity: 0.5;
    
}

.bartender_right_content_top{
    
    position: absolute;
    padding: 2%;
    margin: 5% 4% 0% 1.5%;
    width: 60%;
    height: 4%;
    
    border: none;

    background: #484848;
    opacity: 0.5;
}

.bartender_right_content_bottom{
    
    position: absolute;
    padding: 3%;
    margin: 16% 4% 0% 1.5%;
    width: 58%;
    height: 55%;
    
    border: none;

    background: #484848;
    opacity: 0.5;

    overflow: scroll;
}

.bartender_stock_h1{
    font-size: 30px;
    opacity: 1;
    color: #FFFFFF;
    line-height: 10px;
    opacity: 1;
}

.bartender_stock_h2{
    font-size: 24px;
    opacity: 1;
    color: #FFFFFF;
}

.bartender_stock_table{
    width: 100%;
    font-size: 22px;
    margin-top: 2%;
}

.bartender_stock_drink_detail_table{
    padding-left: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    font-size: 22px;
}

.bartender_stock_drink_detail_table tr{
    height: 50px;
    width: 100%;
}

.bartender_stock_header_width{
    text-align: right;
    padding-right: 160px;
}

.bartender_stock_align_right{
    text-align: right;
}

.bartender_stock_table_space{
    height: 5%;
}

.bartender_restock_btn {
  width: 140px;
  appearance: none;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;

  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.5;
  padding: 1em 1.5em;

  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
    box-shadow: 1px 2px #888888;
    font-size: 20px;

    
}

.bartender_restock_btn:hover{
    color: grey;
    outline: 0;
    border:2px solid white;
    transition: box-shadow 500ms ease-in-out, color 300ms ease-in-out;
    box-shadow: 0 0 40px 40px white inset;
}

.bartender_filter_btn {
  width: 140px;
  appearance: none;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;

  align-self: center;
  font-weight: 400;
  line-height: 0.5;
  padding: 1em 1em;

  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 1px 2px #888888;
  font-size: 18px;
    margin-top: 15%;

    
}

.bartender_filter_btn:hover{
    color: grey;
    outline: 0;
    border:2px solid white;
    transition: box-shadow 500ms ease-in-out, color 300ms ease-in-out;
    box-shadow: 0 0 40px 40px white inset;
}

.bartender_stock_align_center{
    margin-left: 15%;
}

#bartender_stock_amount{
    text-align: left;
    font-size: 22px;
    line-height: 2.5em;
}


.bertender_stock_list{
    
    margin-top: 2%;
    margin-bottom: 4%;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: rgba(0,0,0,.5);
  color: #FFFFFF;
  cursor: pointer;
  padding: 18px 18px 18px 18px; 
  width: 100%;
  text-align:  left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 22px;
}

.accordion:after {
    
    color: #FFFFFF;
    content: '+'; /* Unicode character for"plus" sign (+) */
  font-size: 24px;
  float: right;
  margin-left: 5px;


}

.active:after {
    color: #FFFFFF;
    content: "-";
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: rgba(0,0,0,.8);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: rgba(0,0,0,0);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

}


/*bartender_order_landing*/

.bartender_order_screen_title_box{
    position: absolute;
    width: 287px;
    height: 120px;
    left: 181px;
    top: 0px;
    border: none;
    
    background: #C59BD4;
}

.bartender_order_wrapper{
    
    padding: 2%;
    margin: 7% 5% 3% 5%;
    width: 86%;
    height: 650px;
    
    border: none;

    background: #484848;
    opacity: 0.5;
    overflow: scroll;
    font-size: 20px;
}

.bartender_order_table{
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-collapse: collapse;
    table-layout: fixed;
}

.bartender_order_table_header th{
    height: 50px;
    font-size: 24px;
}

.bartender_order_table_header td{
    height: 50px;
    border-bottom: 2px solid white;
    padding-top: 2%;
    padding-bottom: 2%;
}

.bartender_order_table_first_column{
    width: 5%;
}

.bartender_order_table_big_column{
    width: 30%;
}

.bartender_order_table_no_line_column{
    border-bottom: none;
    border: none;
}

.bartender_order_edit_img{
    width: 65%;
}

.bartender_order_history_button{
    
    height: 48px;
    margin: 0 auto;
    width: 50%; 
    text-align: center;
    vertical-align: top;
    font-size: 24px;
}

.vertical_align_fix{
    vertical-align: middle;
}

/*bartender_order_history*/

/*Order history has a very similar layout to 'stock' screen.
Most CSS layout can be found there*/

.bartender_order_history_content_table table{
    width: 100%;
    text-align: left;
    font-size: 22px;
    
}

.bartender_order_history_content_table table.bartender_history_order_table tr{
    height: 50px;
    
}

.bartender_order_history_first_column{
    width:130px;
}

.bartender_history_order_detail_table{
    padding-left: 20%;
}

.bartender_history_order_detail_table tr{
    height: 50px;
}