<style>
*{padding:0px;margin:0px;}

.main{
    width:970px;height:600px;border:2px solid black;margin:auto;background-color:black;

}
.top{
    width:800px;height:100px;border:1px solid white;margin:auto;
}
.top h1{
    color:white;float:left;margin:10px 250px;font-size:50px;
}


.container{
    width:500px;height:410px;border:1px solid red;float:left;margin:20px 230px;
}

.l{
    width:500px;height:70px;background-color:white;
}
.l h1{
    margin:10px 200px;position:absolute;
}

.a{
    color:white;margin:20px 120px;
}
.c{
    width:220px;height:50px;float:left;border:1px solid red;margin-left:120px;margin-top:-10px;
}




.button1{
    margin:100px 180px;height:50px;width:100px;background-color:black;color:Green;font-size:20px;border-radius:10px;
}

.button2{
    float:right;margin-top:-10px;height:50px;width:100px;background-color:black;color:red;font-size:20px;border-radius:10px;
}
</style>